In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score

In [29]:
monthly_sentiment_nltk = pd.read_csv('data/usa_china_extended_monthly_sentiment_nltk.csv')
#monthly_sentiment_nltk['Month'] = pd.to_datetime(monthly_sentiment_nltk['Month']).dt.to_period('M')

monthly_sentiment_textblob = pd.read_csv('data/usa_china_extended_monthly_sentiment_textblob.csv')
#monthly_sentiment_textblob['Month'] = pd.to_datetime(monthly_sentiment_textblob['Month']).dt.to_period('M')
print(type(monthly_sentiment_textblob['Month'][0]))
monthly_sentiment_textblob.head()

<class 'str'>

     Month   Relation  Sentiment
0  2021-01  USA-China   0.023501
1  2021-02  USA-China   0.020157
2  2021-03  USA-China   0.010724
3  2021-04  USA-China   0.014211
4  2021-05  USA-China   0.009114

In [30]:
usd_cny_exchange_rate = pd.read_csv('data/usd_cny_monthly_exchange_rate_2021.csv')
#usd_cny_exchange_rate['Month'] = pd.to_datetime(usd_cny_exchange_rate['Month']).dt.to_period('M')
print(type(usd_cny_exchange_rate['Month'][0]))
usd_cny_exchange_rate.head()

<class 'str'>

         DATE  EXCHUS    Month
0  2021-01-01  6.4672  2021-01
1  2021-02-01  6.4601  2021-02
2  2021-03-01  6.5109  2021-03
3  2021-04-01  6.5186  2021-04
4  2021-05-01  6.4321  2021-05

In [31]:
#combine dataframes, drop date keep month
combined_df_textblob = pd.merge(monthly_sentiment_textblob, usd_cny_exchange_rate, on = 'Month', how = 'inner')
combined_df_textblob = combined_df_textblob.drop(columns=['DATE'])
#combined_df_textblob.to_csv("combined_df_textblob.csv", index = False)
combined_df_textblob.head()

     Month   Relation  Sentiment  EXCHUS
0  2021-01  USA-China   0.023501  6.4672
1  2021-02  USA-China   0.020157  6.4601
2  2021-03  USA-China   0.010724  6.5109
3  2021-04  USA-China   0.014211  6.5186
4  2021-05  USA-China   0.009114  6.4321

In [32]:
#create linear regression
df = pd.read_csv('data/combined_df_textblob.csv', index_col = False)
df = df.dropna()

y = df['Log_EXCHUS_Lag']
x = df[['Sentiment_Change']]

print(len(y))
print(len(x))

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

model = LinearRegression()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Test MSE:", mse)
print("Test R-squared:", r2)
print("Model coefficient:", model.coef_[0])
print("Model intercept:", model.intercept_)

52
52
Test MSE: 0.00013004019210459397
Test R-squared: -0.045083615802483656
Model coefficient: -0.06998869326199071
Model intercept: 0.0023479349016223934

In [41]:
x = df[['Sentiment_Change']]

# Add constant (intercept) term
x = sm.add_constant(x)

# Dependent variable
y = df['Log_EXCHUS_Lag']

# Fit the OLS model
model = sm.OLS(y, x).fit()

# Print the summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Log_EXCHUS_Lag   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.019
Method:                 Least Squares   F-statistic:                   0.03007
Date:                Fri, 01 Aug 2025   Prob (F-statistic):              0.863
Time:                        12:06:56   Log-Likelihood:                 155.68
No. Observations:                  52   AIC:                            -307.4
Df Residuals:                      50   BIC:                            -303.5
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const                0.0020      0.002      1.181      0.243      -0.001       0.005
Sentiment_Change    -0.0285      0.164     -0.173      0.863      -0.359       0.302
==============================================================================
Omnibus:                        7.734   Durbin-Watson:                   1.183
Prob(Omnibus):                  0.021   Jarque-Bera (JB):                9.806
Skew:                           0.462   Prob(JB):                      0.00743
Kurtosis:                       4.917   Cond. No.                         96.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.