In [64]:
import pandas as pd

In [65]:
monthly_sentiment_nltk = pd.read_csv('data/usa_china_extended_monthly_sentiment_nltk.csv')
#monthly_sentiment_nltk['Month'] = pd.to_datetime(monthly_sentiment_nltk['Month']).dt.to_period('M')

monthly_sentiment_textblob = pd.read_csv('data/usa_china_extended_monthly_sentiment_textblob.csv')
#monthly_sentiment_textblob['Month'] = pd.to_datetime(monthly_sentiment_textblob['Month']).dt.to_period('M')
print(type(monthly_sentiment_textblob['Month'][0]))
monthly_sentiment_textblob.head()

<class 'str'>

     Month   Relation  Sentiment
0  2021-01  USA-China   0.023501
1  2021-02  USA-China   0.020157
2  2021-03  USA-China   0.010724
3  2021-04  USA-China   0.014211
4  2021-05  USA-China   0.009114

In [66]:
usd_cny_exchange_rate = pd.read_csv('data/usd_cny_monthly_exchange_rate_2021.csv')
#usd_cny_exchange_rate['Month'] = pd.to_datetime(usd_cny_exchange_rate['Month']).dt.to_period('M')
print(type(usd_cny_exchange_rate['Month'][0]))
usd_cny_exchange_rate.head()

<class 'str'>

         DATE  EXCHUS    Month
0  2021-01-01  6.4672  2021-01
1  2021-02-01  6.4601  2021-02
2  2021-03-01  6.5109  2021-03
3  2021-04-01  6.5186  2021-04
4  2021-05-01  6.4321  2021-05

In [73]:
#combine dataframes, drop date keep month
combined_df_textblob = pd.merge(monthly_sentiment_textblob, usd_cny_exchange_rate, on = 'Month', how = 'inner')
combined_df_textblob = combined_df_textblob.drop(columns=['DATE'])
combined_df_textblob.head()

     Month   Relation  Sentiment  EXCHUS
0  2021-01  USA-China   0.023501  6.4672
1  2021-02  USA-China   0.020157  6.4601
2  2021-03  USA-China   0.010724  6.5109
3  2021-04  USA-China   0.014211  6.5186
4  2021-05  USA-China   0.009114  6.4321